@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

:root {
  --main-box-shadow: 1px -1px 72px -13px rgba(0, 0, 0, 0.75);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1b262c;
}

.box-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.box {
  width: 400px;
  height: fit-content;
  background-color: black;
  padding: 0 30px;
  transition: 0.5s;
  -webkit-box-shadow: 1px -1px 29px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -1px 29px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 1px -1px 29px -13px rgba(0, 0, 0, 0.75);
}

.contact-box-1 {
  background: linear-gradient(45deg, #7d0633, #31112c);
  background-size: 700;
}
.contact-box-2 {
  background: linear-gradient(45deg, #0f4c75, #183b53);
  background-size: 700;
}
.contact-box-3 {
  background: linear-gradient(45deg, #cf7500, #f0a500);
  background-size: 700;
}

.img-profile {
  width: 120px;
  height: 120px;
  border-radius: 200px;
  display: block;
  margin: 0 auto;
  transform: translateY(-50%);
  -webkit-box-shadow: 1px -1px 62px -26px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -1px 62px -26px rgba(0, 0, 0, 0.75);
  box-shadow: 1px -1px 62px -26px rgba(0, 0, 0, 0.75);
}

.tiles {
  background-color: white;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  width: 100%;
  -webkit-box-shadow: 1px -1px 26px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -1px 26px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 1px -1px 26px -9px rgba(0, 0, 0, 0.75);
}

.texts-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
}

.texts-container h2 {
  font-family: "Pacifico", cursive;
  padding: 20px 0 10px;
  font-size: 1.9rem;
  color: white;
}

.texts-container p {
  padding: 10px 0;
  color: black;
  font-size: 1.1rem;
  font-family: "Courgette", cursive;
}

.texts-container .link-profie {
  margin: 20px 0;
  padding: 15px 30px;
  text-decoration: none;
  background-color: #c23616;
  color: white;
  border-radius: 30px;
  box-shadow: var(--main-box-shadow);
}

.box:hover {
  transform: translateY(-20px);
  -webkit-box-shadow: 1px -1px 62px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -1px 62px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 1px -1px 62px -9px rgba(0, 0, 0, 0.75);
}

.links-container {
  padding: 30px 0;
}

.social-media-icons {
  margin: 0 10px;
  color: white;
  padding: 10px;
  font-size: 1.1rem;
  transition: 0.2s;
}

.box a {
  text-decoration: none;
}

.social-media-icons:hover {
  transform: translateY(-5px);
}

@media (max-width: 475px) {
  .box-container {
    flex-direction: column;
  }
  .box {
    margin: 20px 0;
  }
}

@media (min-width: 476px) and (max-width: 675px) {
  .box-container {
    flex-direction: column;
  }
  .box {
    margin: 20px 0;
  }
}
